<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  {{>styles}}
</head>
<body>
  <div id="container">
    <h1>Ryan's List</h1>
    <h2>{{name}}</h2>
    <div>{{description}}</div>
  </div>
</body>
</html>